* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(231, 231, 231);
}

header {
  display: flex;
  background-color: white;
  padding: 1rem;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-book-button {
  background-color: white;
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
}

.library-container {
  display: flex;
  background-color: white;
  width: 70vw;
}

th,
td {
  font-size: 1.5rem;
  padding: 10px 2rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 300px;
  padding: 2rem;
  z-index: 2;
  display: none;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.read-or-not {
  display: flex;
  gap: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.modal-body input[type="text"],
.modal-body input[type="number"] {
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.modal-buttons #add-button {
  border: none;
  background-color: #22c55e;
  width: 50%;
}

.modal-buttons button {
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
}

.modal-buttons #cancel-button {
  background-color: #ef4444;
  border: none;
}

#overlay.active,
.modal.active {
  display: block;
}
